@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&display=swap");
$font-Kanit: 'Kanit', sans-serif;;




$line-font-slim:200;
$line-font-semi-slim:400;
$line-font-semi-thick:500;
$line-font-thick:800;

$size-font-little:1rem;
$size-font-medium:1.5rem;
$size-font-big:1.8rem;
$size-font-superbig:2rem;




