/* MAIN */
/*seciones de meses y semanas*/

.main__container{
    padding: 0 2rem;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.months{
    // border: 1px solid red;
    text-align: center;
    margin: 2rem 0;

    @include laptop{
        width:70%;

    }
    
    &__title{
        font-size: 2.5rem;
        padding: 1rem 0;
        text-transform: uppercase;
        background-color:#1289A7;
        letter-spacing: .3rem;
        color: $white;
        border-radius:1rem 1rem 0 0;
        border-bottom: 2px solid $black;
    }

}

.semana{
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__btn{
        display: grid;
        place-content: center;
        background-color: var(--green);
        color: var(--white);
        position: relative;
        padding: 1.6rem 0;
        font-size: 2.5rem;
        // font-weight: bold;
        border-bottom: 2px solid $black;


        &:hover{
            color: var(--black);
        }
    }

    &__smenu{
        background-color: var(--black);
        position: relative;
        overflow: hidden;
        max-height: 0;
        transition: max-height .6s;
    }

    &__contenido{
        display: block;
        padding: 1rem 0;
        color: var(--white);
        font-size: 1rem;
        margin: .4rem 0;
        position: relative;
        font-size: 2rem;
    }
}


.semana{
    &__sesion,
    &__title,
    &__descarga{
        color: var(--white);
        font-size:2rem;
        display:block;
    }

    &__sesion{
        color: #f39c12;
        font-size:2.6rem;
        margin-top: 1.5rem;
    }

    &__descarga:hover{
        color: #f39c12;
    }

    &__video{
        width:98%;
        height:22rem;

        @include laptop{
            width:60%;
            height:35rem;
        }
    }

    &__img{
        width:90%;
        @include laptop{
            width:50%;
        }
    }

}

.semana:target .semana__smenu{
    max-height: 300rem;
}
.semana:target .semana__btn{
    color: var(--black);
}

