/* MAIN */
/*=========================*/
/* MAIN */
/*seciones de meses y semanas*/

.main__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    padding: 3rem;

    @include laptop{
        grid-template-columns: repeat(2, 1fr);
        gap: 3.5rem;
        padding: 5rem 7rem;
    }
}

.months{
    overflow: hidden;
    
    &__btn{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width:100%;
        padding: 2rem 0;
        background-color: var(--green);
        color: var(--white);
        position: relative;
        font-size: 2.5rem;
        font-weight: bold;
        letter-spacing: .3rem;
        border-radius: 1rem 1rem 0 0;
        cursor: pointer;
        outline: none;
        border:none;
        z-index: 1;

        @include laptop{
            &:hover{
                color: var(--black);
            }
        }
    }

    &__smenu{
        background-color: var(--black);
        position: relative;
        overflow: hidden;
        max-height: 0;
        transition: max-height .4s;
    }

    &__link{
        display: block;
        padding: 16px 26px;
        color: var(--white);
        font-size: 14px;
        margin: .4rem 0;
        position: relative;
        font-size: 2rem;

        @include laptop{
            &::before{
                content: "";
                position: absolute;
                width: 6px;
                height: 100%;
                background-color: var(--green);
                left: 0;
                top: 0;
                transition: .3s;
                opacity: 0;
            }
    
            &:hover::before{
                opacity: 1;
            }
        }

        & span{
            color: #f39c12;
        }
    }
}
