extends ../templates/template

block nav
    include ../includes/navegador

block header
    .header__title Sesiones de matemática 4to
    .header__paragraph Buen dia señorita y/o joven en esta página esta las sesiones de matemática para los que no participaron opertunamente en las sesiones, esta organizado por mes, semana y sesiones.

block main
    .main__container

        // MAYO
        .months 
            h3.months__title Abril
            section.semana#semana1
                a.semana__btn(href="#semana1") Semana 1
                .semana__smenu
                    //SESION1
                    h4.semana__sesion Sesión 1
                    p.semana__title Realizamos encuestas sobre participación ciudadana 
                    iframe.semana__video(src='https://docs.google.com/viewer?srcid=18aTlyZ7NVlOz_LGnPcAvr46UH1RP_65x&pid=explorer&efh=false&a=v&chrome=false&embedded=true')
                    a.semana__descarga(href="https://docs.google.com/uc?export=download&id=18aTlyZ7NVlOz_LGnPcAvr46UH1RP_65x") Descargar Archivo pdf
                    //- p.semana__title Reto
                    p.semana__title El reto esta dentro del archivo PDF

                    //SESION2
                    h4.semana__sesion Sesión 2
                    p.semana__title Organizamos Los Datos De La Primera Pregunta De La Encuesta En Una Tabla De Frecuencias 
                    iframe.semana__video(src='https://drive.google.com/file/d/1TLOFnNDkWMLXViUa_Bt9aBC83LLxyAGC/preview' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    a.semana__descarga(href="https://docs.google.com/uc?export=download&id=1TLOFnNDkWMLXViUa_Bt9aBC83LLxyAGC") Descargar Video
                    //- p.semana__title Reto
                    img.semana__img(src="assets/img/retos/cuarto/sem1-s1a.jpg" alt="retos de la semana")

            section.semana#semana2
                a.semana__btn(href="#semana2") Semana 2
                .semana__smenu
                    //SESION1
                    h4.semana__sesion Sesión 1
                    p.semana__title ¿Qué conclusiones planteamos sobre la participación ciudadana? 
                    iframe.semana__video(src='https://drive.google.com/file/d/1mwB464sfaWvHOO5xzk_ZmODvh3vZp5OL/preview' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    a.semana__descarga(href="https://docs.google.com/uc?export=download&id=1mwB464sfaWvHOO5xzk_ZmODvh3vZp5OL") Descargar Video
                    //- p.semana__title Reto
                    img.semana__img(src="assets/img/retos/cuarto/sem2-s1a.jpg" alt="retos de la semana")

            section.semana#semana3
                a.semana__btn(href="#semana3") Semana 3
                .semana__smenu
                    //SESION1
                    h4.semana__sesion Sesión 1
                    p.semana__title Representamos las tablas en gráficos 
                    iframe.semana__video(src='https://drive.google.com/file/d/1wAMDK5AjySyxLsmqJrREvNFz_EiGvbUn/preview' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    a.semana__descarga(href="https://docs.google.com/uc?export=download&id=1wAMDK5AjySyxLsmqJrREvNFz_EiGvbUn") Descargar Video
                    //- p.semana__title Reto
                    img.semana__img(src="assets/img/retos/cuarto/sem3-s1a.jpg" alt="retos de la semana")





block footer
    include ../includes/footer