extends ../templates/template

block nav
    include ../includes/navegador

block header
    .header__title Sesiones de matemática 4to
    .header__paragraph  Buen dia señorita o joven en esta página encontrarás las sesiones de matemática para los que no participaron oportunamente en las sesiones. Está organizado por mes, habiendo cumplido el reto enviar tus evidencias resaltando a que semana y sesión pertenece.

block main
    .main__container
        // ABRIL
        .contenedor
            button.months__btn Abril
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1shwWgMfZNOwnNLbLT_1K56K4QOEAHSyW?usp=sharing" target="_blank") Semana 1 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1ZuKOsMTv5rB-ecmjfpe-SRUIgFLh06i1?usp=sharing" target="_blank") Semana 2 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1cBtxQ5QL-uKm5XAeUH_Ll90CCC_4_fnN?usp=sharing" target="_blank") Semana 3 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1A93TbVUqmVcbLzZsrJrpDWoj86RLVHsd?usp=sharing" target="_blank") Semana 4 <span> - ( » )</span>
        // MAYO
        .contenedor
            button.months__btn Mayo
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1vunfKHiP2SFQCftDeGJp5gvDpA7JgiN4?usp=sharing" target="_blank") Semana 5 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 6 <span> - (Vacaciones)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1mTnqJjNEVroUoFYRsidr97WSNEOj4uZ7?usp=sharing" target="_blank") Semana 7 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1pHl4HveB9i9mGuFhJcSB7F1ig-uVNNkl?usp=sharing" target="_blank") Semana 8 <span> - ( » )</span>
        // JUNIO
        .contenedor
            button.months__btn Junio
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1faADJFUkkF0m4Awcy4FX0-ZTeiq63Tj2?usp=sharing" target="_blank") Semana 9 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1vvIozbVtIdfSu6sTwqUzAqbJMVxjebam?usp=sharing" target="_blank") Semana 10 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1vlGgnSCeMc2r3mA0Zx58ii7fhX_r7yTX?usp=sharing" target="_blank") Semana 11 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1e037X16mkAW-lGYaDoncBPDchPxAf1my?usp=sharing" target="_blank") Semana 12 <span> - ( » )</span>
        // JULIO
        .contenedor
            button.months__btn Julio
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1wQtDKwPBkuYc_9I39ppo4DNPdaB42Hqi?usp=sharing" target="_blank") Semana 13 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/117tnhMYwVdKRehNnCsSFBo3O5fWMzA3d?usp=sharing" target="_blank") Semana 14 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1q613OUmG3XiO1CqTSwNaD48N26b4usz9?usp=sharing" target="_blank") Semana 15 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 16 <span> - (Vacaciones)</span>
        // AGOSTO
        .contenedor
            button.months__btn Agosto
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 17 <span> - (Vacaciones)</span>
                a.months__link(href="https://drive.google.com/drive/folders/1w6NsaVe0SQv7qVFk_tSByuo3TLPc8qut?usp=sharing" target="_blank") Semana 18 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1O1NQK_vvCW0lL2mXeALeL1ZQPimNLUIk?usp=sharing" target="_blank") Semana 19 <span> - ( » )</span>
                a.months__link(href="https://drive.google.com/drive/folders/1j0Gyd8hODRnQFn_Ns9G5yMLfMn2bIMZB?usp=sharing" target="_blank") Semana 20 <span> - ( » )</span>
        // SETIEMBRE
        .contenedor
            button.months__btn Setiembre
            .months__smenu
                a.months__link(href="https://drive.google.com/drive/folders/1HuDYgzHUSst6iXg_G04CkoRTOTquxYEU?usp=sharing" target="_blank") Semana 21 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 22 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 23 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 24 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 25 <span> - ( » )</span>
        // OCTUBRE
        .contenedor
            button.months__btn Octubre
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 26 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 27 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 28 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 29 <span> - ( » )</span>
        // NOVIEMBRE 
        .contenedor
            button.months__btn Noviembre
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 30 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 31 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 32 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 33 <span> - ( » )</span>
        // DICIEMBRE 
        .contenedor
            button.months__btn Diciembre
            .months__smenu
                a.months__link(href="#" target="_blank") Semana 34 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 35 <span> - ( » )</span>
                a.months__link(href="#" target="_blank") Semana 36 <span> - ( » )</span>




    //- .main__container

    //-     // MAYO
    //-     .months 
    //-         h3.months__title Abril
    //-         section.semana#semana1
    //-             a.semana__btn(href="#semana1") Semana 1
    //-             .semana__smenu
    //-                 //SESION1
    //-                 h4.semana__sesion Sesión 1
    //-                 p.semana__title Realizamos encuestas sobre participación ciudadana 
    //-                 iframe.semana__video(src='https://docs.google.com/viewer?srcid=18aTlyZ7NVlOz_LGnPcAvr46UH1RP_65x&pid=explorer&efh=false&a=v&chrome=false&embedded=true')
    //-                 a.semana__descarga(href="https://docs.google.com/uc?export=download&id=18aTlyZ7NVlOz_LGnPcAvr46UH1RP_65x") Descargar Archivo pdf
    //-                 //- p.semana__title Reto
    //-                 p.semana__title El reto esta dentro del archivo PDF

    //-                 //SESION2
    //-                 h4.semana__sesion Sesión 2
    //-                 p.semana__title Organizamos Los Datos De La Primera Pregunta De La Encuesta En Una Tabla De Frecuencias 
    //-                 iframe.semana__video(src='https://drive.google.com/file/d/1TLOFnNDkWMLXViUa_Bt9aBC83LLxyAGC/preview' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    //-                 a.semana__descarga(href="https://docs.google.com/uc?export=download&id=1TLOFnNDkWMLXViUa_Bt9aBC83LLxyAGC") Descargar Video
    //-                 //- p.semana__title Reto
    //-                 img.semana__img(src="assets/img/retos/cuarto/sem1-s1a.jpg" alt="retos de la semana")

    //-         section.semana#semana2
    //-             a.semana__btn(href="#semana2") Semana 2
    //-             .semana__smenu
    //-                 //SESION1
    //-                 h4.semana__sesion Sesión 1
    //-                 p.semana__title ¿Qué conclusiones planteamos sobre la participación ciudadana? 
    //-                 iframe.semana__video(src='https://drive.google.com/file/d/1mwB464sfaWvHOO5xzk_ZmODvh3vZp5OL/preview' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    //-                 a.semana__descarga(href="https://docs.google.com/uc?export=download&id=1mwB464sfaWvHOO5xzk_ZmODvh3vZp5OL") Descargar Video
    //-                 //- p.semana__title Reto
    //-                 img.semana__img(src="assets/img/retos/cuarto/sem2-s1a.jpg" alt="retos de la semana")

    //-         section.semana#semana3
    //-             a.semana__btn(href="#semana3") Semana 3
    //-             .semana__smenu
    //-                 //SESION1
    //-                 h4.semana__sesion Sesión 1
    //-                 p.semana__title Representamos las tablas en gráficos 
    //-                 iframe.semana__video(src='https://drive.google.com/file/d/1wAMDK5AjySyxLsmqJrREvNFz_EiGvbUn/preview' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    //-                 a.semana__descarga(href="https://docs.google.com/uc?export=download&id=1wAMDK5AjySyxLsmqJrREvNFz_EiGvbUn") Descargar Video
    //-                 //- p.semana__title Reto
    //-                 img.semana__img(src="assets/img/retos/cuarto/sem3-s1a.jpg" alt="retos de la semana")

    //-         section.semana#semana4
    //-             a.semana__btn(href="#semana4") Semana 4
    //-             .semana__smenu
    //-                 //SESION1
    //-                 h4.semana__sesion Sesión 1
    //-                 p.semana__title Evaluamos propuestas de crédito calculando el interés ycomparando cantidades (parte 2) 
    //-                 iframe.semana__video(src='https://drive.google.com/file/d/1pB3qEIgrQzheFTO5sh40h5kI2OOw_UfC/preview' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    //-                 a.semana__descarga(href="https://docs.google.com/uc?export=download&id=1pB3qEIgrQzheFTO5sh40h5kI2OOw_UfC") Descargar Video
    //-                 //- p.semana__title Reto
    //-                 img.semana__img(src="assets/img/retos/cuarto/sem4-s1a.jpg" alt="retos de la semana")

    //-                 //SESION2
    //-                 h4.semana__sesion Sesión 2
    //-                 p.semana__title Evaluamos propuestas de crédito calculando el interés ycomparando cantidades (parte 2) 
    //-                 iframe.semana__video(src='https://drive.google.com/file/d/1a5CnQ9ir6BHoSUdbuyn4YDFydmBcXiYR/preview' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    //-                 a.semana__descarga(href="https://docs.google.com/uc?export=download&id=1a5CnQ9ir6BHoSUdbuyn4YDFydmBcXiYR") Descargar Video
    //-                 //- p.semana__title Reto
    //-                 img.semana__img(src="assets/img/retos/cuarto/sem4-s2a.jpg" alt="retos de la semana")

    //-     .months 
        h3.months__title Mayo
        section.semana#semana5
            a.semana__btn(href="#semana5") Semana 5
            .semana__smenu
                //SESION1
                h4.semana__sesion Sesión 1
                p.semana__title Comparamos intereses y cantidades a pagar para justificar nuestras decisiones 
                iframe.semana__video(src='https://drive.google.com/file/d/1VBk3vdik_jCQ_rm17XHKSYzfS4-HzMVj/preview' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                a.semana__descarga(href="https://docs.google.com/uc?export=download&id=1VBk3vdik_jCQ_rm17XHKSYzfS4-HzMVj") Descargar Video
                //- p.semana__title Reto
                img.semana__img(src="assets/img/retos/cuarto/sem5-s1a.jpg" alt="retos de la semana")

                //SESION2
                h4.semana__sesion Sesión 2
                p.semana__title Analizamos los gastos de una familia empleando operaciones con números naturales y decimales (practica)  
                iframe.semana__video(src='https://drive.google.com/file/d/xxx/preview' frameborder='0' allow='accelerometer; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                a.semana__descarga(href="https://docs.google.com/uc?export=download&id=xxx") Descargar Video
                //- p.semana__title Reto
                img.semana__img(src="assets/img/retos/cuarto/sem5-s2a.jpg" alt="retos de la semana")




block footer
    include ../includes/footer