extends ../templates/template

block nav
    include ../includes/navegador

block header
    .header-container
        .presentation
            img.presentation__img(src="assets/img/aprendo_casa.png" alt="logo aprendo en casa")
            p.presentation__paragraph Bienvenido señorita y/o jóvenes aquí encontraras las clases de matemática organizado por meses y semana, cualquier duda sobre los temas enviar un mensaje al WhatsApp.

        .btnGrado 
            a.btnGrado__boton(href="segundo.html") Segundo 
            a.btnGrado__boton(href="cuarto.html") Cuarto
//-     include ../includes/header

//- block presentation
//-     include ../includes/presentation

//- block main
//-     include ../includes/mainportada

block footer
    include ../includes/footer