.nav__menu
    a.nav__menu-logo(href='/') Matemática
    #toggle.toggle
        .toggle_linea
    .nav__menu-contenedor
        a.nav__menu-link(href="/") Inicio
        a.nav__menu-link(href="registroevidencia.html") Registro 
        a.nav__menu-link(href="#") Evaluación 